body {
  margin: 0;
}

button {
  border-radius: 10px;
  border: 1px solid blueviolet;
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  justify-content: center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  margin: 0;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.trybewarts-header-logo {
  width: 80px;
  padding: 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  border: 50px;
  padding: 30px;
  justify-content: space-between;
  
}

.trybewarts-login input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.trybewarts-login button {
  border-radius: 10px;
  border: 1px solid blueviolet;
  padding: 10px 20px;
  width: 150px;
  margin: auto;
  background-color: blueviolet;
  color: white;
}

.flex-container-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.flex-container-main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.radios {
  display: flex;
  flex-direction: column;
}

#div-checkbox-content{
    display: flex;
    flex-direction: column;
}

.checked{
    display: flex;
    flex-wrap: wrap;
}

.agreement-container{
    display: flex;
}

footer {
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
}